*{
  margin:0;
  padding: 0px;
  box-sizing: border-box;
}
body{
  width: 100%;
  min-height: 100vh;
  background: #3a6186;  /* fallback for old browsers */
  background: -webkit-linear-gradient( #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient( #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contenedor{
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
ul{
  list-style: none;
}
.seleccionado{
  transform: scale(1.025) rotate(-1deg);
  box-shadow: 0px 0px 20px rgba(149, 153, 159, .16);
}
.fantasma{
  border: 2px dotted #000
}
.drag{
  opacity: 0;
}