.header{
  background: #89253e;
  color: #fff;
  padding: 15px 0px;
  border-bottom:1px solid #fff;
  .contenedor-header{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
    .titulo{
      grid-column: span 12;
      text-transform: uppercase;
      border-radius: 6px;
      background: #fff;
      color: #892353;
      padding: 5px;
      text-align: center;
    }
  }
}